# Slack app credentials
SLACK_BOT_TOKEN=xoxb-2379385973-8488175274672-fLEKs6z5VzOoorXJDL6qFhSr
SLACK_SIGNING_SECRET=df934ac19c6b5ab693c3a11d3e746a2d
SLACK_APP_TOKEN=xapp-1-A08E20ZB76D-8491819260997-8883fdf8e6009933456bcc60c16258baa658c5edf3892e2db939653f521f74ea

# Harvest API credentials
HARVEST_ACCOUNT_ID=582834
HARVEST_ACCESS_TOKEN="874066.pt.JRlXsiHI2krgJzlj7wN9ceCSUz32kM2Ln8zzHuUfK1mUY0wjekrqdCCVb5vMlckqnOpBto-QlZtkxmwz5jFayg"

# Optional: restrict who can run the commands (Slack user IDs, comma-separated)
ALLOWED_INVOKERS=U06G3SNMJD8